.main-chat
  .main-chat__group-info
    .main-chat__group-info__name
      .main-chat__group-info__name__group
        = @group.name
      .main-chat__group-info__name__member
        member :
        - @group.users.each do |member|
          = member.name
          
    .main-chat__group-info__edit
      = link_to edit_group_path(@group) do
        edit

  .main-chat__message-list
    - @messages.each do |message|
      .main-chat__message-list__list{data: {message: {id: message.id}}}
        .main-chat__message-list__list__name-time
          .main-chat__message-list__list__name-time_name
            =message.user.name
          .main-chat__message-list__list__name-time__time
            = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
        .main-chat__message-list__list__text
          - if message.content.present?
            = message.content
          = image_tag message.image.url, class: "lower-message__imge" if message.image.present?



  .main-chat__message-form
    = form_for [@group,@message] do |f|
      = f.text_field :content,class:"main-chat__message-form__box__text-image__text",placeholder:"type a message"
      .main-chat__message-form__box__text-image
        = f.label :image,class:"main-chat__message-form__box__text-image__image" do
          = icon("far","image")
          = f.file_field :image,class:"main-chat__message-form__box__text-image__image__a"
      = f.submit "send", class:"main-chat__message-form__send-btn"